.property-card {
  background-color: #fff;
  margin: 14px 0px;

  &_header {
    padding: 8px 18px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  &_content {
    img {
      width: 100%;
    }
  }
}
