<div class="property-list">
    <div class="property-list_block">
        <h2>Results</h2>

        <div class="property-list_block_cards">
            <property-card 
                ng-repeat="result in vm.propertiesResults" 
                data="result"
                state="result"
                action="vm.addProperty(result)">
            </property-card>

            <!-- Show help text in case of no items left -->
            <div ng-show="!vm.propertiesResults.length" class="property-list_block_cards_no-item">No properties in the results.</div>
        </div>
    </div>

    <div class="property-list_block">
        <h2>Saved Properties</h2>

        <div class="property-list_block_cards">
        	<property-card 
        		ng-repeat="saved in vm.propertiesSaved" 
        		data="saved"
                state="saved"
                action="vm.removeProperty($index)">
        	</property-card>

            <!-- Show help text in case of no items left -->
            <div ng-show="!vm.propertiesSaved.length" class="property-list_block_cards_no-item">No saved properties.</div>
        </div>
    </div>
</div>